*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--blanco);
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Baner -------------------- Baner*/
.contenedor nav{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    background: var(--azul);
    background-position: center;
    background-size: cover;
}
.contenedor nav .uno{
    margin: 20px 20px 0px 40px;
    width: 130px;
    height: 90px;
}
.contenedor nav .uno img{
    width: 100%;
    height: 100%;
}

.contenedor nav .dos{
    margin: 20px 0px;
    width: 500px;
    height: 90px;
    justify-items: center;
}
.contenedor nav .dos p{
    font-size: 80px;
    color: white;
}
.contenedor nav .tres{
    margin: 20px 40px;
    width: 800px;
    height: 90px;
    display: grid;
    place-items: center;
   
}
.contenedor nav .tres p{
    font-size: 40px;
    line-height: center;
    color: aqua;
}
/* centro -------------------- centro*/
.contenedor article{
    flex: 1;
    display: flex;
    flex-direction: row;
}
article .opciones{
    width: 20%;
    height: 660px;
    background: rgb(73, 72, 72);
}
article .contenido{
    width: 80%;
    height: 660px;
}
/* menu -------------------- munu*/

.menu li{
    position: relative;
}
.menu li:hover ul{
    display: block;
}
.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(73, 72, 72);
}
/* parte2 -------------------- centro*/
.parte2 h2{
    margin: 40px 30px 0px 100px;
    font-size: 60px;
}
.parte2 .linea{
    margin: 0px auto;
    width: 95%;
    border: 1px solid black;
}
.horarios{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 30px 90px;
}
#buscar{
    margin-right: 50px;
    padding: 0px 20px;
    width: 850px;
    border-radius: 20px;
    font-size: 20px;
}
.horarios .crear-horario {
    background-color: var(--azul);
    color: white;
    border: none;
    width: 180px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.horarios .crear-horario:hover {
    background-color: var(--gris);
}

.horarios .filtros select {
    width: 140px;
    height: 40px;
    font-size: 16px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid var(--gris);
}

.lista-horarios {
    margin: 60px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.lista-horarios h3{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.horario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--azulClaro);
    border: 5px solid var(--azul);
    color: var(--blanco);
    margin: 0px auto;
    padding: 10px 50px;
    border-radius: 20px;
    width: 95%;
    height: 105px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.horario button {
    background-color: var(--azul);
    color:white;
    border: none;
    padding: 5px 10px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.horario button:hover {
    background-color: var(--gris);
    color: var(--blanco);
    
}
/* footer -------------------- footer*/
.contenedor footer{
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 130px;
    background-image: url("../img/gris\ fondo.jpg");
}

footer .informacion1{
    color: white;
    font-size: 30px;
    margin: 15px 0px 0px 50px;
}
footer .informacion2{
    margin: 15px 0px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
}