*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
:root {
    --azul: #007bbd;
    --blanco: rgb(253, 243, 229);
    --gris: rgb(99, 95, 95);
    --azulClaro: #4aa2d1;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--blanco);
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Baner -------------------- Baner*/
.contenedor nav{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    background: var(--azul);
    background-position: center;
    background-size: cover;
}
.contenedor nav .uno{
    margin: 20px 20px 0px 40px;
    width: 130px;
    height: 90px;

}
.contenedor nav .uno img{
    width: 100%;
    height: 100%;
}

.contenedor nav .dos{
    margin: 20px 0px;
    width: 450px;
    height: 90px;
    justify-items: center;
}
.contenedor nav .dos p{
    font-size: 80px;
    color: white;
}
.contenedor nav .tres{
    margin: 20px 0px 0px 40px;
    width: 500px;
    height: 90px;
    display: grid;
    place-items: center;
   
}
.contenedor nav .tres p{
    font-size: 35px;
    line-height: center;
    color: aqua;
}
.contenedor nav .cuatro{
    margin: 0px 25px;
    width: 200px;
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    position: relative;
}
.contenedor nav .cuatro input{
    padding: 0px 10px;
    border-radius: 10px 0px 0px 10px;
    width: 150px;
    height: 35px;
    border: 0;
    outline: none;
    font-size: 15px;
}
.contenedor nav .cuatro input::placeholder{
    font-weight: normal;
}
.contenedor nav .cuatro input:hover::placeholder{
    color: blue;
    cursor: pointer;
}
.contenedor nav .cuatro button{
    width: 35px;
    height: 36px;
    float: right;
    border-radius: 0 10px 10px 0;
}
.contenedor nav .cuatro button:hover{
    transform: scale(1.1);
    color: blue;
    cursor: pointer;
}
/* centro -------------------- centro*/
/* parte1 -------------------- centro*/
.contenedor article{
    flex: 1;
}
.contenedor article .parte1{
    margin: 20px 0px 0px 0px;
    width: 100%;
    height: 70px;
    display: flex; 
    align-items: center;
    background: var(--azulClaro);
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
}
.contenedor article .parte1 button{
    margin: 0px 8px;
   width: 120px;
   height: 100%;
   border: none;
   font-size: 15px;
   border-bottom: none;
   background: var(--azulClaro);
    color: white;
    font-size: 18px;
}
.contenedor article .parte1 button:hover{
    transform: scale(1.1);
    background: #37c1e4;
    cursor: pointer;
}
/* parte2 -------------------- centro*/
.contenedor article .parte2 .apartado1{
    margin: 30px auto 0px ;
    width: 1300px;
    height: 60px;
    background: var(--blanco);
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}
.contenedor article .parte2 .apartado1 button{
    width: 200px;
    height: 50px;
    display: grid;
    place-content: center;
    font-size: 35px;
    background: var(--blanco);
    border: none;
}
.contenedor article .parte2 .apartado1 button:hover{
    background: var(--azulClaro);
    cursor: pointer;
}

.contenedor article .parte2 .linea{
    margin: 0px auto;
    width: 1400px;
    border: 1px solid black;
}
/* parte3 -------------------- centro*/
.contenedor article .parte3{
    margin: 20px auto;
    padding: 20px 0px 0px 0px;
    width: 1200px;
    height: 170px;
    background: var(--azulClaro);
    border-radius: 10px;

}
.contenedor article .parte3 .texto{
    margin: 0px 30px;
    width: 1000px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contenedor article .parte3 .texto .tex1 p{
    margin: 0px 20px 0px 0px;
    font-size: 50px;
    color: white;
}
.contenedor article .parte3 .texto .tex2 p{
    margin: 0px 20px 0px 0px;
    font-size: 50px;
    color: white;
}
.contenedor article .parte3 .texto .tex3 p{
    margin: 0px 20px 0px 0px;
    font-size: 50px;
    color: white;
}
.contenedor article .parte3 .texto .tex4 p{
    margin: 0px 20px 0px 0px;
    font-size: 50px;
    color: white;
}
.contenedor article .parte3 .texto2{
    margin: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.contenedor article .parte3 .texto2 .codigo{
    display: flex;
    flex-direction: row;
}
.contenedor article .parte3 .texto2 .codigo p{
    margin: 15px 50px 0px 0px;
    font-size: 30px;
    color: white;
}
.contenedor article .parte3 .texto2 img{
    margin: 0px 0px 10px 0px;
    width: 35px;
    height: 35px;
}
.contenedor article .parte3 .texto2 img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
/* parte4 -------------------- centro*/
.contenedor article .parte4{
    margin: 40px 170px;
    display: flex;
    justify-content: space-between;
}
.contenedor article .parte4 h2{
    font-size: 50px;
    font-style: italic;
}
.contenedor article .parte4 button{
    background: var(--azulClaro);
    border: 3px solid white;
    width: 150px;
    border-radius: 20px;
    color: white;
}
.contenedor article .parte4 button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* parte5 -------------------- centro*/
.contenedor article .parte5{
    margin: 30px 0px 0px 490px;
    width: 800px;
    height: 140px;
    border: 1px solid black;
    border-radius: 20px;
}
.contenedor article .parte5 .dato{
    display: flex;
    flex-direction: row;
}
.contenedor article .parte5 .dato img{
    margin: 10px 20px;
    width: 40px;
    height: 40px;
}
.contenedor article .parte5 .dato p{
    margin: 15px 0px;
    font-size: 25px;
}
.contenedor article .parte5 .dato .dto{
   margin:  10px 0px 0px 510px;
}
.contenedor article .parte5 .dato .dto img{
    width: 30px;
    height: 30px;
}
.contenedor article .parte5 .dato .dto img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.contenedor article .parte5 .dato1 p{
    margin: 5px 30px;
}

/* footer ------------------- footer*/
.contenedor footer{
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: 130px;
    background-image: url("../img/gris\ fondo.jpg");
}

footer .informacion1{
    color: white;
    font-size: 30px;
    margin: 15px 0px 0px 50px;
}
footer .informacion2{
    margin: 15px 0px;
    color: white;
    font-size: 23px;
    display: flex;
    justify-content: space-around;
}